# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env/
env/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# mypy
.mypy_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# AWS
.aws/
*.pem

# OS
.DS_Store
Thumbs.db
